<div class="container-fluid">
  <div class="container-fluid inputs">
    <label for="emailInput">Email address</label>
    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="container-fluid inputs">
    <label for="passwordInput">Password</label>
    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
	</div>
	<div class="buttons">
		<div class="container-fluid">
			<button class="btn btn-primary" onclick="register()">Register</button>
			<small class="form-text text-muted">Click on this to register your email for alerts.</small>
		</div>
		<div class="buttons">
			<button class="btn btn-primary" onclick="remove()">Remove</button>
			<small class="form-text text-muted">Click on this to remove your registered email.</small>
		</div>
	</div>
	<div id="msg"></div>
</div>

<script src="/scripts/alert.js"></script>