<!-- Downloads Modal -->
<%- include('modal.ejs', {id: 1}) %>

<!-- Alert toast -->
<div id='alert-toast' style="position: relative"></div>

<!-- start date picker -->
<label for="start_date">Start Date</label>
<input id="start_date" width="312" class="datepicker" />
<br>

<!-- end date picker -->
<label for="end_date">End Date</label>
<input id="end_date" width="312" class="datepicker" />
<br>

<!-- location select -->
<select class="custom-select location-select" id="locationSelect">
  <option selected>Choose a location</option>
</select>

<!-- satellite select -->
<select class="custom-select location-select" id="satelliteSelect">
    <option selected>Sentinel 1</option>
    <option>Sentinel 2</option>
</select>

<div id="msg3" style="width: 23%;margin-top: 1rem;"></div>

<!-- submit -->
<button type="button" class="btn btn-primary" onclick="handleSubmit()">Search</button>

<!-- Map -->
<div id="mymap" class="map"></div>

<!-- spinner -->
<div id="searchSpinner" class="spinner"></div>

<!-- tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="flood-tab" data-toggle="tab" href="#flood" role="tab" aria-controls="flood" aria-selected="true">Flood</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="fire-tab" data-toggle="tab" href="#fire" role="tab" aria-controls="fire" aria-selected="false">Forest Fire</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="flood" role="tabpanel" aria-labelledby="flood-tab">
    ...
  </div>
  <div class="tab-pane fade" id="fire" role="tabpanel" aria-labelledby="fire-tab">...</div>
</div>
  
<script src="/scripts/search.js"></script>