.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.pills-section {
    padding-top: 1em;
}

.search-btn {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.location-select {
    width: 23%;
    display: block;
}

.card-display {
    width: 22rem;
    margin: 1rem;
    margin-left: 1rem;
    display: inline-block;
    box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, .14),
                2px -5px 10px 1px rgba(0, 0, 0, .14);
}

.collection {
    overflow-y: scroll;
    height: 500px;
}

.carousel-images {
    object-fit: contain;
    margin: 0.5rem;
}
