.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.pills-section {
    padding-top: 1em;
}

.location-select {
    width: 23%;
    display: inline-block;
}

.card-display {
    width: 22rem;
    margin: 1rem;
    margin-left: 1rem;
    display: inline-block;
    box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, .14),
                2px -5px 10px 1px rgba(0, 0, 0, .14);
}

.collection {
    overflow-y: scroll;
    height: 500px;
}

.carousel-images {
    object-fit: contain;
    margin: 0.5rem;
}

.spinner {
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.buttons {
    margin: 1rem;
}

.inputs, #msg {
    margin: 1rem;
    width: 50rem;
}

.month-card {
    width: 40rem;
    margin-left: 0rem;
}

.classified-image {
    position: absolute;
    top: 0;
    left: 0;
}

.map {
    position: absolute;
    right: 1rem;
    top: 0;
    width: 50%;
    height: 18rem;
}

.foot-print {
    font-size: 1.8rem;
    margin-left: 1rem;
    top: 0.4rem;
    position: relative;
    opacity: 0.8;
}

.foot-print:hover {
    opacity: 1;
}